# Основные зависимости Hallo2 из их официального репозитория
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
diffusers==0.29.2
transformers==4.44.2
accelerate==0.33.0
einops
insightface==0.7.3
mediapipe
librosa
imageio[ffmpeg]
numpy==1.24.4  # Жестко задано для совместимости, как в оригинальном requirements.txt
opencv-python
onnxruntime-gpu
omegaconf
decord
tqdm
av
huggingface_hub
ffmpeg-python

# Дополнительные пакеты для нашей функции (requests часто уже установлен, но укажем для полноты)
requests
pydub
audio_separator
moviepy
xformers
icecream
Flask==3.0.0
minio==7.2.0
requests==2.31.0
PyYAML==6.0.1
websockets